<footer class="footer">
  <div class="container footer-content">
    <div class="footer-description">
      <h3>Sobre Nosotros</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptates, quidem, quod, quos doloremque quae voluptatum quibusdam
        doloribus nemo quia autem. Quisquam voluptates, quidem, quod, quos
        doloremque quae voluptatum quibusdam doloribus nemo quia autem.
      </p>
    </div>
    <div class="social-links">
      <h3>Síguenos en Redes Sociales</h3>
      <div class="social-icons">
        <a
          href="https://facebook.com"
          target="_blank"
          class="social-icon"
          title="facebook"
          rel="noopener noreferrer"
        >
          <i class="fab fa-facebook"></i>
        </a>
        <a
          href="https://twitter.com"
          target="_blank"
          class="social-icon"
          title="twitter"
          rel="noopener noreferrer"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="https://instagram.com"
          target="_blank"
          class="social-icon"
          title="instagram"
          rel="noopener noreferrer"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://linkedin.com"
          target="_blank"
          class="social-icon"
          title="linkedin"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
